/*////////////////////// FONTS //////////////////////*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,800|Raleway:300,400,500,700,800|Open+Sans:300|Alegreya+Sans:300');

$f-rb: "Roboto", Tahoma, sans-serif;
$f-rw: "Raleway", Tahoma, sans-serif;
$f-os: "Open Sans", Tahoma, sans-serif;
$f-as: "Alegreya Sans", Tahoma, sans-serif;